@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Playfair+Display:wght@600;700&display=swap");

body {
  background-color: #94b49f6c;
  margin: 0;
  padding: 0;
  min-width: 700px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
section {
  width: 100%;
  height: 95vh;
  background-image: url("./images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #94b49f93;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.418);
  padding: 0px 5%;
}
nav ul {
  display: flex;
}
nav ul li a {
  margin: 30px;
  font-family: myriad pro regular;
  color: #505050;
  font-size: 15px;
  font-weight: 700;
}
.logo {
  font-family: myriad pro regular;
  color: #505050;
  font-size: 30px;
}

.text-container p:nth-child(1) {
  font-family: calibri;
  font-weight: bold;
  color: #5e5e5ed2;
  font-size: 22px;
  line-height: 30px;
}
.text-container p:nth-child(2) {
  font-family: "Lobster", cursive;
  font-weight: bold;
  letter-spacing: 1px;
  color: #527a62;
  font-size: 70px;
}
.text-container p:nth-child(3) {
  font-family: myriad pro regular;
  color: #403e3e8f;
  font-size: 25px;
  line-height: 50px;
}

.text-container p {
  margin: 45px 0px 25px;
  line-height: 0px;
}

.text-container {
  position: absolute;
  left: 13%;
  top: 42%;
  transform: translate(-13%, -42%);
}

.model {
  max-width: 500px;
  height: 600px;
  justify-self: center;
  overflow: hidden;
  border-radius: 73% 27% 75% 25% / 54% 54% 46% 46%;
  border: 5px solid #fff;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.5);
  animation: ava-animate 5s infinite alternate;
  position: relative;
  bottom: 85px;
  left: 45%;
  transform: translateX(50%);
  transform: translateY(20%);
  transform: translateZ(20%);
}
.profile-picture {
  display: flex;
}
@keyframes ava-animate {
  0% {
    border-radius: 73% 27% 75% 25% / 54% 54% 46% 46%;
  }
  30% {
    border-radius: 73% 27% 75% 25% / 32% 25% 75% 68%;
  }
  60% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

/* About */
.about-container {
  width: 90%;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  margin: -8% auto 20px auto;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
}
.img-gallery {
  width: 90%;
  margin: 70px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}
.about-container img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  transition: transform 0.5s;
}
.about-container img:hover {
  transform: scale(1.3);
}
.about-text {
  max-width: 700px;
}
.about-text p:nth-child(1) {
  color: #527a62;
  font-family: myriad pro;
  font-weight: bold;
  font-size: 30px;
  line-height: 0px;
  text-align: center;
}

.about-text p:nth-child(2),
.about-text p:nth-child(3) {
  color: #5e5e5ef3;
  font-family: calibri;
  font-size: 16px;
}
.about-text button {
  width: 120px;
  height: 40px;
  color: #ffffff;
  outline: none;
  border: none;
  font-family: calibri;
  background-color: #262525;
}

.hobbies {
  height: 600px;
  background-color: #ffffff;
  padding: 2% 10% 0px 10%;
}
.hobbies-text p {
  font-family: calibri;
  font-weight: bold;
  color: #376e4d;
  font-size: 50px;
  line-height: 0px;
}

.hobbies-text {
  width: 500px;
  margin: 20px 0px 70px 0px;
}
.box-container {
  display: flex;
  justify-content: space-between;
}
.box-1,
.box-2,
.box-3 {
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0px 4px;
}

.box-1 {
  background-image: url("./images/8.jpg");
  transition: transform 0.5s;
}

.box-2 {
  background-image: url("./images/7.jpg");
  transition: transform 0.5s;
}
.box-3 {
  background-image: url("./images/0.jpg");
  transition: transform 0.5s;
}
.box-1:hover,
.box-2:hover,
.box-3:hover {
  transform: scale(1.2);
}
.box-1 span,
.box-2 span,
.box-3 span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: calibri;
  font-weight: bold;
}
.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2) {
  color: #ffffff;
  font-family: calibri;
  font-size: 23px;
  line-height: 0px;
}
.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3) {
  font-family: calibri;
  color: #ffffff;
  text-align: center;
  width: 230px;
  margin: 0px 0px 20px 0px;
}

footer p {
  font-family: calibri;
}

footer {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.social-icons a {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e3e3;
  margin: 20px 10px;
  border-radius: 50%;
}
.social-icons {
  display: flex;
}
.social-icons i,
.social i {
  font-size: 30px;
  color: #2b2b2b;
}
.social-icons a:hover {
  background-color: #000000;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  transition: all ease 0.5s;
}
.social-icons a:hover i,
.social a:hover i {
  color: #ffffff;
  transition: all ease 0.5s;
}

.copyright {
  color: #565555;
  font-size: 20px;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}
.social {
  position: fixed;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}
.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin: 0px;
  padding: 0px;
  line-height: 0px;
  background-color: #ffffffc4;
  border: 1px solid #2b2b2b6b;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
.social a:hover {
  background-color: #000000;
  transition: all ease 0.5s;
}
